<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>{{page.title}}</title>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="author" content="Tino Breddin">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    {% if page.extrajs %}{% include extrajs.html %}{%endif %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<div id="logobox">
          <a href="/">
            <img id="logo" src="/images/logo-quartett.gif" title="Logo der Fahrschule Quartett" alt="Logo der Fahrschule Quartett" >
          </a>
        </div>
        <div id="sloganbox">
          <img id="slogan" src="/images/slogan.gif" title="Slogan" alt="Slogan" >
        </div>
      </div>
      {{ content }}
      <div id="footer" class="footer">
        <a id="impressum-link" href="/impressum">Impressum</a><br >
        Copyright &copy; 2018 Fahrschule Quartett, Alle Rechte vorbehalten.
      </div>
    </div>
  </body>
</html>
